html {
    background-color: lightblue;
}

body * {
    border: 1px red solid;
}

.project {
    background-color: lightcyan;
    width: 30%;
    margin-left: auto;
    margin-right: auto;

}

.task {
    background-color: lightgreen;
}